:root{
    --FondBouton:#0F628E;
    --FondSousMenu:#2B87BE;
    --FondContainer:#e7edfa;
    --FondPage:white;
    --FondFooter:#0F628E;
    --FondBandeau:black;
    --CouleurH:#0F628E;
    --TextBlanc:white;
}