div,header{
    display:flex;
    flex:1;
}   
body{
    display:flex;
    align-items:center;
    flex-direction:column;
    background-color:black;
    color:white;
}

.page{
    display:block;
    width:80%;
}

img{
    width:100%;
}

.demi{
    flex:0.2;
}

.espacehor{
    height:2vh;
}

.recto{
    display:flex;
}
.verso{
    display:none;
}
.colonne{
    flex-direction:column;
}


/******** HEADER ***********/
.centre{
    justify-content:center;
}
.menu{
    justify-content:space-around;
}
h1{
    margin:0.5em;
    letter-spacing: 0.3em;
    font-size:3em;
}

input{
    background-color:black;
    color:white;
    border:none;
}

button{
    background-color:black;
    color:white;
    border:3px solid blue;
    padding:0.5em;
}
#solution{
    display:none;/**/
}

#reset{
    display:none;
}

#temps{
    display:none;
}

#nbClick{
    display:none;
}

#debPartie{
    display:none;
}
#scoreJ1{
    display:none;
}
#scoreJ2{
    display:none;
}
#tour{
    display:none;
}
