div{
    display:flex;
    flex:1;
}   
body{
    display:flex;
    align-items:center;
    flex-direction:column;
    background-color:black;
}

.page{
    display:block;
    width:80%;
}

img{
    width:100%;
}

.demi{
    flex:0.2;
}

.espacehor{
    height:2vh;
}

.recto{
    display:flex;
}
.verso{
    display:none;
}

