#carre{
    flex : none;
    width:5em;
    height:5em;
    position:absolute;
    background-color:lightskyblue;
    top:10em;
    left:10em;
}

.obstacle{
    flex : none;
    width:10em;
    height:10em;
    position:absolute;   
}
.p1{
    top:10em;
    left:25em;
}

.p2{
    top:25em;
    left:55em;
}

.p3{
    top:2em;
    left:75em;
}

.vert{
    background-color:green;
}

.jaune{
    background-color:yellow;
}

.rose{
    background-color:pink;
}

.colonne{
    flex-direction:column;
}
.centre{
    justify-content: center;
}
div{
    display : flex;
}