div,header{
    display: flex;
    flex: 1;
}

body{
    background-color:lightgrey
}
.colonne{
    flex-direction: column;
}
.bouton{
    border: 2px solid black;
    border-radius: 0.5em;
    padding: 2em;
    font-weight:bold;
    justify-content:center;
}

.cache{
    display: none;
}

.espacehor{
    flex:none;
    height:10vh;
}

/***** Header *****/ 
header{
    height:25vh;
    align-items:center;
    background-color:lightskyblue
}

.titre{
    justify-content:center;
}

/******* Contenu ********/

.vert{
    background-color:green;
}

.orange{
    background-color:orange;
}

.rouge{
    background-color:red;
}
.blanc{
    background-color:white;
}

.vertclair{
    background-color:greenyellow
}