/* Agit sur la barre de navigation*/
#nav {
    padding: 2em; 
    margin: 0;
    border : 1px dashed black;

 }
#nav li {
	display: inline;
	list-style: none;
}

/* Agit Corp de la page*/
article{
    width:80em;
    margin : 1em;
    border: 1px dashed black;
}

.entart{
    background-color: grey;
    border: 1px dashed grey;
    margin : 1em;
    padding : 1em;
}

.entart a,aside a,#nav a{
    color : blue;
}

.text{
    margin:1em
}

.tangent{
    margin :0 4em 0 4em ;
    border : 1px dashed black;
    padding : 1em 0 1em 0.5em;
}

aside{
    float : right;
    margin : 0 1em 0 1em ; 
    width : 14em;
    border : 1px dashed black;

}

aside li{
    display : inline;
    list-style : none;
}

