/****************** GLOBAUX *********************/
html,body{
    padding:0;
    margin:0;
}

body{
    display:flex;
    flex-direction:column;
    background-image: url("image/fond.jpg");
    background-size: cover;
    align-items : center;
}

div{
    display:flex;
    flex : 1;
}

.espace{
    flex: 0.2;
}

.espacehor{
    flex : 5vh;
}

img,video{
    width:100%;
}
/**************** Page ***************/ 
.page{
    flex-direction:column;
    width:80vw;
}

/********** header **********/
header , footer{
    display:flex;
}
header{
    background-image:url("image/header.jpg")
}

.titrepage,.titrepied{
    flex:8;
    justify-content:center;
}

.titrepage{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 4em;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: white 0.1em 0.1em 0.2em;
}

/******** footer *******/
footer{
    background-image:url("image/fond1.png");
    background-position-x:center;
}

.titrepied{
    color:white;
}
/******** menu *******/
nav{
    display:flex;
    justify-content:center;
    background-image:url("image/fond1.png");
    background-position:center 50em;
}

.menu {
    flex:none;
    border : 1px solid grey;
    background: linear-gradient(to bottom, #08598c, #3e99d1);
    border-radius : 0.2em;
    padding:0.3em;
    margin:0.2em 0;
    color:white;
    position:relative;
}

.sousmenu{
    display:none;
    flex-direction:column;
    background: linear-gradient(to bottom, #08598c, #3e99d1);
    position:absolute;
    margin-top:1.5em;
    margin-left:-0.3em;
    white-space:nowrap;
}

.menu:hover .sousmenu{
    display:flex;
}

.item:hover{
    padding : 0.2em;
    color:red;
    border : 1px solid red;
}

/*********** CONTENU **********/
.contenu{
    /*display:block;*/
    flex-direction:column;
}

/**** Partie 1 *****/
.box{
    flex:3;
    flex-direction : column;
    height:35vh;
    overflow-y:scroll;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 100%);
    padding:0.5em;
}
.titreSemaine{
    justify-content:center;
    font-size:1.5em;
    font-weight:bold;
    background: linear-gradient(rgb(30, 87, 153) 0%, rgb(41, 137, 216) 50%, rgb(32, 124, 202) 51%, rgb(125, 185, 232) 100%)
}

.ingredients, .recette{
    flex-direction: column;
}

/***** partie 2 *****/
.titreArticle{
    justify-content:center;
}
.partie2{
    flex-direction:column;
}
article{
    display:flex;
    flex-direction:column;
    padding:0.3em;
}

aside{
    border : 1px solid blue;
    border-radius:0.3em;
    font-size:0.8em;
}

.texteArticle{
    flex:5;
    text-align:justify;
}

