body,html{
    margin:0;
    padding:0;
}

div,header{
    display:flex;
    flex:1;
}

.colonne{
    flex-direction:column;
}
header{
    justify-content: center;
    padding:2em;
    background-color:lightblue
}
.cache{
    display:none;
}

.cellule{
    border:1px solid black;
}
a{
    display:flex;
}