body,html{
    margin:0;
    padding:0;
}

div,header{
    display:flex;
    flex:1;
}

.bleuciel{
    background-color:lightblue;
}

.vertFonce{
    background-color:rgb(22, 253, 176);
}

.espaceh{
    flex:none;
    height:10vh;
}
.cellule{
  border:1px solid white;
  color:white;
  justify-content:center;
}

h3,a{
    color:white;
}
body{
    background-color:black;
}
.centre{
    justify-content:center;
}
.colonne{
    flex-direction:column;
}
header{
    justify-content: center;
    padding:2em;
    background-color:lightblue
}
.cache{
    display:none;
}
.liste ,.titre{
    border:1px solid black;
}

.titre{
    align-items:center;
    border-radius:0.5em;
    background-color:lightblue;
    color:whitesmoke;
}
a{
    text-decoration:none;
    display:flex;
}

.liste{
    white-space: nowrap;
    border-radius:0.5em;
    background-color:rgb(22, 253, 176);
    color:white;
}



