body,html{
    margin:0;
    padding:0;
}

div,header{
    display:flex;
    flex:1;
    border:1px dotted red;
}
.centre{
    justify-content:center;
}
.colonne{
    flex-direction:column;
}
header{
    justify-content: center;
    padding:2em;
    background-color:lightblue
}
.cache{
    display:none;
}
.liste ,.titre{
    border:1px solid black;
}

.titre{
    align-items:center;
}
a{
    display:flex;
}

li{
    white-space: nowrap;
}



