div{
    display:flex;
    flex:1;
}

.colonne{
    flex-direction:column;
}

.espacehor{
    flex:none;
    height:25vh;
}

.ligne{
    justify-content:center;
}

button{
    width:8em;
    height:8em;
    margin:0.1em;
    font-weight: bold;
    font-size:1.5em;
}

.vide{
    background-color:white;
    background-size:cover;
    border:none;
}

.plein{
    border:1px solid black;
    background-size:cover;
    border-radius:0.5em;
}

#img1{
    background-image:url("1.jpg");
}
#img2{
    background-image:url("2.jpg");
}
#img3{
    background-image:url("3.jpg");
}
#img4{
    background-image:url("4.jpg");
}
#img5{
    background-image:url("5.jpg");
}
#img6{
    background-image:url("6.jpg");
}
#img7{
    background-image:url("7.jpg");
}
#img8{
    background-image:url("8.jpg");
}
