/*-----------------------------------GLOBAL-----------------------------------------*/
body {
	background-color: lightskyblue;
}

img {
	width: 100%;
}

#page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.colonne{
	flex-direction:column;
}
.centre{
	justify-content:center;
	align-items:center;
}
#contenu {
	display: flex;
	flex-direction: column;
	width: 80%;
	justify-content: center;
}
.espaceHorizon {
	flex:none;
	height:5vh;
}
.espaceVertical {
	flex: 0.5;
}
#entete {
	display: flex;
	width: 100%;
	flex-direction: column;
}
#titre {
	display: flex;
	justify-content: space-between;
	flex: 1.5;
}
#logo {
	flex: 1;
	padding:1em;
}
#titre_page {
	display: flex;
	flex: 5;
	justify-content: center;
	align-items: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#divSousTitre{
	justify-content: center;
}
#afficheTemp{
	font-weight:bold;
	font-size:2em;
}
div{
	display:flex;
	flex:1;
	/*border:1px solid black;*/ 
}
.case{
	border:1px black solid;
	border-radius:0.3em;
}
