body{
    background-color: black;
}
#carre{
    background-color:lightskyblue;
    width: 2em;
    height: 2em;
    position: absolute;
    border-radius:0.5em;
    left: 15px;
    top: 17px;
    z-index: 3;
}
div{
    display: flex;
    flex: 1;
    justify-content: center;
}
button{
    position:absolute;
    border-radius: 0.2em;
    font-size: 1em;
    top:8em;
    left:46em;
    width:13em;
}
.obstacle{
    position:absolute;
    background-color:green;
}
#ob1{
    top:0em;
    left:0em;
    width:80em;
    height:0.5em;
}
#ob2{
    top:0em;
    left:0em;
    width:0.5em;
    height:45em;
}
#ob3{
    top:45em;
    left:0em;
    width:80em;
    height:0.5em;
}
#ob4{
    top:0em;
    left:80em;
    width:0.5em;
    height:45em;
}
#ob5{
    top:0em;
    left:0em;
    width:0.5em;
    height:45em;
}
#ob6{
    top:4em;
    left:0em;
    width:14em;
    height:0.5em;
}
#ob7{
    top:0em;
    left:18em;
    width:0.5em;
    height:25em;
}
#ob8{
    top:25em;
    left:10.5em;
    width:8em;
    height:0.5em;
}
#ob9{
    top:4em;
    left:14em;
    width:0.5em;
    height:18em;
}
#ob10{
    top:7.5em;
    left:10em;
    width:0.5em;
    height:18em;
}
#ob11{
    top:7.5em;
    left:6em;
    width:0.5em;
    height:38em;
}
#ob12{
    top:29.5em;
    left:6em;
    width:16em;
    height:0.5em;
}
#ob13{
    top:7.5em;
    left:3em;
    width:0.5em;
    height:35em;
}
#ob14{
    top:4.5em;
    left:22em;
    width:0.5em;
    height:37em;
}
#ob15{
    top:0em;
    left:26em;
    width:0.5em;
    height:41.5em;
}
#ob16{
    top:33em;
    left:10em;
    width:0.5em;
    height:12em;
}
#ob17{
    top:30em;
    left:14em;
    width:0.5em;
    height:12em;
}
#ob18{
    top:33em;
    left:18em;
    width:0.5em;
    height:12em;
}
#ob19{
    top:4em;
    left:30em;
    width:0.5em;
    height:41.5em;
}
#ob20{
    top:4em;
    left:30em;
    width:45em;
    height:0.5em;
}
#ob21{
    top:4em;
    left:75em;
    width:0.5em;
    height:32em;
}
#ob22{
    top:36em;
    left:30em;
    width:45.5em;
    height:0.5em;
}
#ob23{
    top:40.5em;
    left:70em;
    width:10em;
    height:0.5em;
}
#ob24{
    top:36em;
    left:65em;
    width:0.5em;
    height:6em;
}
#ob25{
    top:39em;
    left:60em;
    width:0.5em;
    height:6em;
}
#ob26{
    top:36em;
    left:55em;
    width:0.5em;
    height:6em;
}
#ob27{
    top:39em;
    left:50em;
    width:0.5em;
    height:6em;
}
#ob28{
    top:36em;
    left:45em;
    width:0.5em;
    height:6em;
}
#ob29{
    top:39em;
    left:40em;
    width:0.5em;
    height:6em;
}
#afficheur{
    position:absolute;
    top:15em;
    left:55.5em;
    width:15em;
    text-align: center;
    border:none;
    color:white;
    background-color: black;
}

#collisions{
    position:absolute;
    top:20em;
    left:55.5em;
    width:15em;
    text-align: center;
    border:none;
    color:white;
    background-color: black;
}

#arrivee{
    flex : none;
    width:8.5em;
    height:7.5em;
    position:absolute;
    background-color:red;
    border-radius:0.5em;
    color:white;
    top:37em;
    left:31em;
}

#resultat{
    position:absolute;
    top:16em;
    left:21em;
    width:28em;
    font-size:1.5em;
    text-align: center;
    border:none;
    color:white;
    background-color: black;
}

#rejouer{
    top:30em;
    display:none;
}