nav{
    display : flex;
    width : 50vw;
}

div{
    display : flex;
    flex : 1;
}

.bouton{
    background-color : royalblue;
    padding : 1em;
    
    justify-content:center;
    max-height: 1em;
}

nav a{
    color : white;
}

.menu{
    flex-direction : column;
    
}

.sousmenu{
    display : none;
    flex-direction:column;
    align-items : stretch;
}

.menu:hover .sousmenu{
    display:flex;
}

.items{
    background-color : lightblue;
    border : 1px solid black;
    justify-content:center;
}