nav{
    display:flex;
    width : 50vw;
}

.div{
    display:flex;
}

.espace{
    flex : 0.1em;
}

.bouton{
    background-color : #ddd;
    padding : 0.5em;
    border-radius : 0.5em;
    box-shadow : 0.2em 0.2em 0.1em #bbb;
}

.bouton:hover{
    background-color : #aaa;
    box-shadow : 0.2em 0.2em 0.1em black;
}

.bouton a{
    text-decoration:none;
    color:black;
}

.bouton a:hover{
    color : white;
}

