/******** GLOBAL ********/ 
body,html{
    margin:0;
    padding:0;
}
div,header,nav{
    display:flex;
    flex:1;
}
img{
    width:100%;
}
a{
    text-decoration: none;
}
.colonne{
    flex-direction:column;
}

/****** ESPACES **********/
.espacehor{
    flex:none;
    height:25vh;
}

.demiespacehor{
    flex:none;
    height:10vh;
}

.petitEspacehor{
    flex:none;
    height:3vh; 
}
.vide{
    flex:2;
}

.separ{
    flex:none;
    height:1em;
}
/***** ALERTES ********/
.alert{
    color:red;
}
/***** ALIGNEMENTS *******/
.justify{
    justify-content:center;
}
.justifyh{
    align-items:center;
}
.space{
    justify-content: space-around;
}

/****** FORMULAIRES ********/
.fondform{
    background-color:#f8cbad;
}

/****** HEADER *******/
.fondheader{
    background-color:#f8cbad;
}
.padLogo{
    padding:1em;
}

.fondFonce{
    background-color:#f2a16a;
}

.blanc{
    background-color:white;
}

/****** PAGE *******/
.fondpage{
    background-color:#f8cbad;
}

.menu{
    flex:0.15;
}

/***** Bouton *****/
button{
    background-color:#f2a16a;
    padding:0.5em 1em;
    border-radius:0.5em;
    margin:1em;
}
 footer{
     position:absolute;
     width:100%;
     bottom:0;
 }
