/******* GLOBAL *******/
html,body{
    margin:0;
    padding:0;
}
header, footer,
div,article,body{
    display:flex;
    flex:1;
    /*border:1px dashed black;*/
}

.colonne{
    flex-direction:column;
}

.block{
    display:block;
}

.page{
    flex:none;
    width:80%;
}

.centre{
    align-items:center;
}

.fonce{
    background-color: rgba(80, 80, 97, 0.6) ;
}

.voile{
    background-color: rgba(209, 209, 230, 0.6) ;
}

img,video{
    width:100%;
}

.demi{
    flex:0.5;
}

.espacehor{
    flex:none;
    height:5vh;
}

.espacedemihor{
    flex:none;
    height:2.5vh;
}

.centre{
    justify-content:center;
}

/******* HEADER *******/
header,footer{
    background-image:var(--fondEntete);
    background-position: bottom;
    background-size:cover;
}

.titre{
    flex:8;
    justify-content:center;
    align-items:center;
    text-shadow: #aaa 8px 8px 8px;
    font-family:Jazz LET, fantasy;
    font-variant-caps: small-caps;
    letter-spacing: 0.2em;
}

.entete{
    font-size:var(--TailleTitreEntete);
}

.logo{
    padding:1.5em;
    align-items:center;
}

/******** Menu *********/
nav{
    display:flex;
    background-color:#ddd;
    padding:1em;
    /*position:sticky;
    top:0;*/
    z-index: 1;
}

nav a{
    text-decoration:none;
    color:black;
}

.sousmenu{
    display:none;
    position:absolute;
    flex-flow:column wrap;
    background-color:#ddd;
    margin-top:1em;
    padding-top:1em;
}

.avecenfant{
    position:relative;
    
}

.avecenfant:hover .sousmenu{
    display:flex;
    
}
/******** PAGE *********/
.container{
    background-size:cover;
    background-repeat: no-repeat;
    justify-content:center;
}

#fond1{
    background-image:var(--fondEntete);
}

#fond2{
    background-image:var(--FondContainer2);
}
.opaque{
    opacity: 0.6;
}
.agenda{
   flex:2;
   padding:2em;
}   

.agenda h3{
    margin-bottom:0;
}
.listeAgenda{
   border:black 1px solid;
   border-radius:0.6em;
   padding:0.5em;
   background-color:var(--FondAside);
}

.photo{
    padding:1em;
}

.aside{
    align-items:center;
    text-align:justify;
    border:1px solid black;
    border-radius:0.6em;
    padding:0.3em;
    background-color:var(--FondAside);
    
}
/******* FOOTER ********/
.fb{
    justify-content:center;
}
