div{
    display : flex;
}

.container{
   border : 2px dashed blue;
   height : 20em;
   flex-direction:row;
   justify-content : space-between
}

.jaune{
    background-color:yellow;
    width : 150px;
}

.vert{
    display:flex;
    flex-direction : row;
    background-color:green;
    width:150px;
}

.violet{
    background-color:purple;
    width:150px;
}

.bleu{
    background-color:blue;
    width:150px;
}

.noir{
    flex-direction : column;
    justify-content : space-around;
    background-color : Black;
    width : 50px;
}

.blanc{
    background-color: white;
    width : 50px;
}

.orange{
    background-color:orange;
    height : 50px;
}
