body,html{
    margin:0;
    padding:0;
}

div,header,nav{
    border : 1px dotted red;
    display:flex;
    flex:1;
}

a{
    text-decoration: none;
}
.colonne{
    flex-direction:column;
}
.center{
    justify-content:center;
}
.centerh{
    align-items:center;
}

.space{
    justify-content: space-around;
}
.fin{
    justify-content:flex-end;
}

.padConex{
    padding:1em;
}
.vide{
    flex:2;
}

.espacehor{
    flex:none;
    height:20vh;
}

.demiespacehor{
    flex:none;
    height:10vh;
}

.bordure{
    border:1px solid grey;
    border-radius:0.5em; 
}

.rouge{
    color:red;
}

.fondheader{
    background-color:lightskyblue;
}

.fondpage{
    background-color:#ddd;
}

.fondform{
    background-color:lightsteelblue;
}