html body{
    margin : 0;
    padding : 0;
}
body{
    min-height:100vh;
    background-image: url("image/fond.jpg");
    padding : 4em 9em;
}

div{
    display : flex;
    flex:1;
    border : 1px dashed black;
}

header{
    display : flex;
    background-image: url("/image/header.jpg");
    height : 10em;
    border 1px dashed black;
}

nav{
    display:flex;
    background-image: url("/image/fond1.png");
    background-size : cover;
    justify-content:center;
    align-items:center;
}
.bouton{
    color : white;
    border : 1px solid black;
    background: linear-gradient(#3093b2, white);
    padding : 0.7em
}

.cookie img{
    height : 10em;
}

.titre{
    justify-content:center;
    align-items:center;
    font-size : 3em;
    font-weight: bold;
}
.article{
    padding : 1em;
}
.article video{
    height : 25em
}

.box{
    flex:2;
}

.box style{
    height : max-content;
}
