html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../image/fond.jpg);
    background-position: center;
    display: flex;
    justify-content: center;
}

header {
    background-image: url(../image/header.jpg);
    display: flex;
}
footer{
    display: flex;
    background-image: url(../image/fond1.png);
    background-position: top;
}
div {
    display: flex;
    flex: 1;
    /*border : 1px dashed black;*/
}
img{
    width: 100%;
}

nav{
    display : flex;
    justify-content:center;
    background-image: url(../image/fond1.png);
    background-position: top 25%;
    padding : 0.3em;
}
article{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.menu{
    flex:none;
    border : 1px solid grey;
    background: linear-gradient(#06314F,#3093B2);
    color : white;
    padding : 0.5em;
    border-radius : 0.3em;
}
.page {
    width: 80vw;
    flex-direction: column;
    flex: none;
}
.titrePage, .piedPage {
    flex: 9;
    justify-content : center;
    align-items : center;
}

.titrePage span{
    font-size:3em;
    font-weight: bold;
}
.partie1{
    padding : 2em;
}
.partie1 video{
    height : 35vh;
}
.contenu{
    flex-direction : column;
    background-color:#e6ece9
}
.cookieSemaine{
    flex:8;
    flex-direction : column;
    height : 35vh;
    overflow-y: scroll;
    background-color:#f7f7f7;
}
.titreSemaine{
    flex:none;
    /*background-color : #74A6C4;*/
    background: linear-gradient(#2162a6,#559ebd);
    justify-content: center;
    align-items:center;
    font-size:2em;
    font-weight: bold;

}
.recette{
    padding : 1em;
}

.ingredients{
    flex-direction : column;
    padding : 1em;
    flex :2;
}
.ingredients span{
    font-weight: bold;
}
.photoSemaine{
   margin : 1.5em;
}

.partie2{
    flex-direction:column;
}
.titreArticle{
    font: size : 1em;
    font-weight: bold;
}

.texteArticle {
    width : 90%;
    margin : 1em;
    text-align:justify;
}

.texteAside{
    width:90%;;
}

.texteArticleAside{
    border: 1px solid blue;
    border-radius : 0.4em;
}
