/********************************* GLOBAL *******************************/
html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../image/fond.jpg);
    background-position: center;
    display: flex;
    justify-content: center;
}

div {
    display: flex;
    flex: 1;
    /*border : 1px dashed black;*/
}

img{
    width: 100%;
}

/***************************** HEADER ********************************/
header {
    background-image: url(../image/header.jpg);
    display: flex;
}

/****************************** FOOTER ****************************/
footer{
    display: flex;
    background-image: url(../image/fond1.png);
    background-position: top;
}

/************************** MENU ****************************/
nav{
    display : flex;
    justify-content:center;
    background-image: url(../image/fond1.png);
    background-position: top 25%;
    padding : 0.3em;
}

.menu{
   flex:none;
}

.sousmenu{
    display : none;
    flex-direction : column;
    position:absolute;
    margin-top:2.1em;
    background: linear-gradient(#06314F,#3093B2);
    color:white;
}

.bouton{
    flex:none;
    color:white;
    background: linear-gradient(#06314F,#3093B2);
    border : 1px solid grey;
    border-radius : 0.3em;
    padding : 0.5em;
}

.avecEnfant:hover .sousmenu{
    display:flex;
}
/*
.bouton{
    flex:none;
    background: linear-gradient(#06314F,#3093B2);
    border : 1px solid grey;
    padding : 0.5em;
    border-radius : 0.3em;
    color : white;
}
.sousmenu{
    display:none;
    flex-direction : column;
    position:absolute;
    margin-top:2em;
    background: linear-gradient(#06314F,#3093B2);
    color : white;
}

.menu:hover .sousmenu{
    display:flex;
}*/

/**************************** CONTENU *************************/
article{
    display:flex;
    flex-direction:column;
    align-items:center;
}


.page {
    width: 80vw;
    flex-direction: column;
    flex: none;
}
.titrePage, .piedPage {
    flex: 9;
    justify-content : center;
    align-items : center;
}

.titrePage span{
    font-size:3em;
    font-weight: bold;
}
.partie1{
    padding : 2em;
}
.partie1 video{
    height : 35vh;
}
.contenu{
    flex-direction : column;
    background-color:#e6ece9
}
.cookieSemaine{
    flex:8;
    flex-direction : column;
    height : 35vh;
    overflow-y: scroll;
    background-color:#f7f7f7;
}
.titreSemaine{
    flex:none;
    background: linear-gradient(#2162a6,#559ebd);
    justify-content: center;
    align-items:center;
    font-size:2em;
    font-weight: bold;
}
.recette{
    padding : 1em;
}

.ingredients{
    flex-direction : column;
    padding : 1em;
    flex :2;
}
.ingredients span{
    font-weight: bold;
}
.photoSemaine{
   margin : 1.5em;
}

.partie2{
    flex-direction:column;
}
.titreArticle{
    justify-content:center;
}

.texteArticle {
    flex:9;
    padding : 0.1em;
    text-align:justify;
}

aside{
    display: flex;
    flex: 1;
    border: blue 1px solid;
    border-radius: 6px;
    padding: 0 0.5em;
    align-items: center;
}

