/********************************* GLOBAL *******************************/
html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../image/fond.jpg);
    background-position: center;
    display: flex;
    justify-content: center;
}

div {
    display: flex;
    flex: 1;
    /*border : 1px dashed black;*/
}

img{
    width: 100%;
}

video{
    height : 35vh;
}

/***************************** HEADER ********************************/
header {
    background-image: url(../image/header.jpg);
    display: flex;
}

/****************************** PAGE ***********************************/
.titrePage span{
    font-size:3em;
    font-weight: bold;
}

.page {
    width: 80vw;
    flex-direction: column;
    flex: none;
}

.titrePage, .piedPage {
    flex: 9;
    justify-content : center;
    align-items : center;
}

/****************************** FOOTER ****************************/
footer{
    display: flex;
    color : white;
    background-image: url(../image/fond1.png);
    background-position: top;
}

/************************** MENU ****************************/
nav{
    display: flex;
    justify-content: center;
    background-image: url(../../image/fond1.png);
    background-position: left;
    padding: 0.2vw 0;
}

.menu{
    flex: none; /*chaque bouton prend sa taille */
    background: linear-gradient(to bottom, #08598c, #3e99d1);
    border: solid #326280 3px;
    border-radius: 5px;
    font-size: 1em;
    color: white;
    padding: 0 0.5vw;
    position: relative;
}
.sousMenu{
    display: none;
    flex-direction: column;
    position: absolute;
    margin-top: 1.5em;
    margin-left: -0.5vw;
    background: linear-gradient(to bottom, #08598c, #3e99d1);
    border: solid #326280 3px;
    border-radius: 5px;
    color: white;
    padding: 0 0.5vw;
    font-size: 0.8em;
    white-space: nowrap;    /*evite le retour à la ligne du sous menu*/
}
.menu:hover .sousMenu{
    display: flex;
}
.sousItem:hover{
    color: #ccc;
    border: 1px solid #ccc;
    padding : 0.1em;
}

/**************************** CONTENU *************************/
.contenu{
    flex-direction : column;
    background-color:#e6ece9
}

article{
    display:flex;
    flex-direction:column;
    align-items:center;
}

/**************** Partie 1 ****************/
.partie1{
    padding : 2em;
}

.cookieSemaine{
    flex:8;
    flex-direction : column;
    height : 35vh;
    overflow-y: scroll;
    background-color:#f7f7f7;
}

.titreSemaine{
    flex:none;
    background: linear-gradient(#2162a6,#559ebd);
    justify-content: center;
    align-items:center;
    font-size:2em;
    font-weight: bold;
}
.recette{
    flex-direction: column;
    padding : 1em;
}

.ingredients{
    flex-direction : column;
    padding : 1em;
}
.ingredients span{
    font-weight: bold;
}
.photoSemaine{
   margin : 1.5em;
}

/********** Partie 2 ***************/
.partie2{
    flex-direction:column;
}
.titreArticle{
    justify-content:center;
}

.texteArticle {
    flex:9;
    padding : 0.1em;
    text-align:justify;
}

aside{
    display: flex;
    flex: 1;
    border: blue 1px solid;
    border-radius: 6px;
    padding: 0 0.5em;
    align-items: center;
}

/*********** J Querry ***************/
@media screen and (max-width:1200px)
{
    .page{
        width: 90vw;
    }
}
