div{
    display:flex;
    flex : 1;
   /* border : 1px dashed black;*/
}

/* HEADER */
header{
    display : flex;
}


img{
    width:100%;
   
}

.titre{
    flex-direction : column; 
    justify-content : center;
    background-image: url("tower.jpg");
    background-size: cover;
    flex : 2;  
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size : 4em;
    align-items: flex-end;
}

.titre span{
    color : red;
    font-weight: bold;
}

.connect{
    flex-direction : column;
    justify-content: center;
    align-items : center;
    background-image: url("fondnoir.jpg");
    background-size: 100% 100%;
}


/* MENU NAVIGATION */
nav{
    display:flex;
    background-color : lightgray;
    justify-content : center;
}

nav ul{
    display : flex;
}
nav li{
    list-style-type: none;
    border : 1px solid black;
    background-color: lightsteelblue ;
    margin : 0.1em 1em;
    padding : 1em;
    border-radius : 1em;
}

nav a{
    text-decoration: none;
}


/* PARTIE CENTRALE */

section{
    display:flex;
    background-color: lightsteelblue ;
}

.gauche{
    flex-direction : column;
    
}

.droit{
    flex : 4;
    flex-direction : column;
    padding : 1em;
}

.galerie{
     flex-wrap : wrap;
     justify-content : space-around;
     height : 20em;
     border : 1px dashed black;
}
      
.galerie img{
    flex:auto 0;
     width : auto;
     max-height : 30%;
 }
 .meteo{
     justify-content: center;
     margin : 1em;
     align-items: center;
 }

 /* FOOTER */
 footer{
    height:5em;
    background-image: url("drapeau.jpg");
    background-size: cover;
    height : 5em;
    opacity : 0.6;
}