div{
    display:flex;
    flex:1;
}

/* HEADER */
body{
    display:flex;
    flex-direction:column;
    background-color:lightcyan;
    min-height:20vh;
    margin:0;
}
header{
    display : flex;
}

.titre{
    flex-direction : column; 
    background-image: url("../images/tower.jpg");
    background-size: cover;
    flex : 2;  
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size : 3.5em;
    justify-content : center;
    align-items: center;
    
}

.titre span{
    color : red;
    font-weight: bold;
}


/* NAVIGATION */
.demi{
    flex : 0;
}

nav{
    display:flex;
    justify-content : space-around;
    padding : 1em;
    background-color: lightgoldenrodyellow;
}

nav a{
    color : black;
    text-decoration : none;
}
/* CORP DE PAGE*/
section{
    display : flex;
    flex : 1 1 auto;
    align-items:flex-start;
}
.centre{
    flex : 2;
    flex-direction: column;
    padding :1.5em;
}
.bas{
    padding : 1.5em;
}
.txtbas{
    flex : 2;
    flex-direction:column;
    align-items:center;
}
#imagecentre{
    justify-content:center;
}
.gauche{
    flex-direction:column;
    align-items: center;
    padding:2em;
}

.droite{
    flex-direction : column;
    justify-content:center
}

#meteo{
    align-items:center;
}

 /* FOOTER */
 .foot{
    background-image: url("../images/drapeau.jpg");
    background-size: cover;
    opacity : 0.6;
    height:5em;
}

