body{
    background-color: #aaa;
}

div{
    display:flex;
    flex:1;
    /*border:1px dotted black;*/
}
img{
    width:100%;
}
.logo{
    flex:0.1;
}
.espacehor{
    flex:none;
    height:10em;
}
.colonne{
    flex-direction:column;
}
.champs{
    padding:0.5em;
}
.centre{
    justify-content:center;
}
.fin{
    justify-content:flex-end;
}
input[required] +div::before{
    content: "*";
    color: red;
    display:flex;
    align-items:center;
}
.rouge{
    color:red;
}

