body{
    background-color:#f8cbad;
}
div{
    display:flex;
    flex:1;
    /*border:1px black dotted;*/
}

.colonne{
    flex-direction:column;
}

.espacehor{
    flex:none;
    height:10vh;
}

.ligne{
    justify-content:center;
}
.centre{
    justify-content:center;
}
.menu{
    justify-content:center;
}

button{
    width:8vw;
    height:14vh;
    margin:0.1em;
    font-weight: bold;
    font-size:1.5em;
}

.vide{
    background-color:white;
    border:none;
    border-radius:0.5em;
}

.plein{
    background-color:#f2a16a;
    border:1px solid black;
    border-radius:0.5em;
}
input{
    height:2em;
    width:16em;
    font-size: larger;
    border:none;
    background-color:#f8cbad;
}