#liste{
	display: flex;
}
div{
	display:flex;
	flex:1;
	/*border:2px solid blue;*/
}

.ligne{
	border: 0.1vw solid black;
	margin: 1%;
	padding: 1%;
	border-radius: 2%;
}
.titre{
	justify-content:center;
}
