/******** GLOBAL ********/ 
body,html{
    margin:0;
    padding:0;
}
div,header,nav{
    /*border : 1px dotted red;*/
    display:flex;
    flex:1;
}
a{
    text-decoration: none;
}
.colonne{
    flex-direction:column;
}

/****** ESPACES **********/
.espacehor{
    flex:none;
    height:20vh;
}
.vide{
    flex:2;
}
/***** ALERTES ********/
.alert{
    color:red;
}
/***** ALIGNEMENTS *******/
.justify{
    justify-content:center;
}
.justifyh{
    align-items:center;
}

.space{
    justify-content: space-around;
}
.fin{
    justify-content:flex-end;
}

/****** FORMULAIRES ********/
.bordure{
    border:1px solid grey;
    border-radius:0.5em; 
}
.fondform{
    background-color:lightsteelblue;
}
.padForm{
    padding:1em;
}
.fondform{
    background-color:lightsteelblue;
}

/****** HEADER *******/
.fondheader{
    background-color:lightskyblue;
}

/****** PAGE *******/
.fondpage{
    background-color:#ddd;
}

