div{
    display : flex;
}

.container{
    flex-direction : column;
    height : 100em;
    padding : 2em;
}
.bordure{
    border : 1px dashed black;
}
.bordurebleu1{
    border : 5px solid blue;
}

.bordurebleu2{
    border : 5px solid royalblue;
}

.bordurerouge{
    border : 5px solid red;
}

.bordurevert{
    border : 5px solid green;
}

.entete{
    height : 10em;
}

.section{
    height : 80em;
}
.droite{
    flex:3;
    flex-direction : column;
    justify-content : space-around;
    padding : 2em;
}
.gauche{
    flex:1;
    flex-direction : column;
    justify-content : space-around
}

.g1{
    height : 5em;
}

.d1{
    height : 15em;
}