div{
    display:flex;
    flex : 1;
    margin : 2px;
    flex-wrap: wrap;
}

.colonne{
   flex-direction : column;
}

.bleu{
    background-color :lightskyblue;
    padding:5px;
    height : 950px;
}

.orange{
    background-color : orange;
}

.centre{
    flex : 3
}
.trois{
    flex : 2;
    align-content: flex-start;
}
.gris{
    background-color : grey;
}

.vert{
    background-color : green;
}

.jaune{
    background-color : yellow;
}

.rouge{
    background-color : red;
}

.rose{
    background-color : pink;
}

