@media screen and (max-width:800px)
{
    .titre,.titreDiapo{
        font-size:2em;
        letter-spacing:0.1em;

    }
    .texteArticle{
        flex:3;
    }

    .item{
        padding:0;
        width:6em;
    }
    .ville, .pays{
        font-size:0.8em;
    }

    /*** menu ***/
    
    .tout{
        display:block;
    }
    .vide{
        display:none;
    }
    .bouton{
        display:none;
    }
    .titremobile{
        display:flex;
    }
    .avecenfant{
        position:unset;
        display:block;
    }
    .tout:hover .bouton{
        display:block;
    }
    .sousmenu{
        display:none;
        margin-top:0;
        position:unset
    }
    .avecenfant .sousmenu{
        z-index:1;
    }
}