/**************** GLOBAL *********************/
html,body{
    margin:0;
    padding:0;
}


div{
    display:flex;
    flex:1;
    /*border : 1px dashed black;*/
}

img{
    width:100%;
}
.espace{
    flex:0.5;
}
.espacedemi{
    flex:0.25;
}

.espaceh{
    height:25vh;
}
.espacehdiapo{
    flex:none;
    height:5vh;;
}

.vide{
    flex:2;
}


/**************** HEADER *********************/
header{
    display:flex;
    background-image:url("/images/sky.jpg");
    background-size:cover;
    background-position:center;
}

.logo{
    padding:1.6em;
}
.titre{
    flex:6;
    justify-content:center;
    align-items:center;
    font-size: 3em;
    letter-spacing:0.2em;

}

/********** MENU ****************/
nav{
    padding:0.5em;
    background : linear-gradient(#188BEA,#68726A );
    position:sticky;
    top:0;
}
.titremobile{
    display:none;
    justify-content:center;
    background-color:white;
    color:#188BEA;
    border:1px solid #188BEA;
    
}

.sousmenu{
    display:none;
    margin-top:1.3em;
    background-color:white;
    color:#188BEA;
    border:1px solid #188BEA;
    min-width:8.8vw;
    position:absolute;

}

.bouton{
    justify-content:center;
    background-color:white;
    color:#188BEA;
    border:1px solid #188BEA;
    position:relative;
}

/*** hover ****/
.avecenfant:hover .sousmenu{
    display:block;
}


/*********** CONTENU ************/
.container{
    display:block;
    background-image:url("/images/bg.jpg");
    background-size:cover;
}
.partie1{
    display:block;
}
article{
    display:flex;
    flex:1;
}
.texteArticle{
    background-color:white;
    line-height: 1.5em;
    padding:0 5vh;
    font-size:0.8em;
    flex-direction:column;
}

.titreArticle{
    align-self:center;
    justify-content:center;
    font-weight: 800;
    font-size:1.35em; 
    letter-spacing:0.225em;
    text-align:center;
    padding : 5vh 0;
    flex:0.5;
}

.contenuArticle{
    padding:0.5em;
    text-align: justify;
    font-size:1.5em;
}

/********** Galerie Diapo ***********/
section{
    display:flex;
}
.diapo{
    display:block;
}

.titreDiapo{
    font-size:2em;
    font-weight:bold;
    letter-spacing:0.3em;
    justify-content:center;
}

.galerie{
    justify-content:space-between;
}

.item{
    flex-direction:column;
    padding : 2em; 
    justify-content: center;
    font-size:1.3em;
    font-weight:bold;
}

.ville,.pays{
    justify-content:center;
    text-align:center;
    white-space: nowrap;
}

.paris{
    background-image:url("/images/01.jpg");
    background-size:cover;
    color:white;
}

.londres{
    background-image:url("/images/02.jpg");
    background-size:cover;
}

.rome{
    background-image:url("/images/03.jpg");
    background-size:cover;

}

.bali{
    background-image:url("/images/05.jpg");
    background-size:cover;
}

.crete{
    background-image:url("/images/04.jpg");
    background-size:cover;
}

.barcelone{
    background-image:url("/images/07.jpg");
    background-size:cover;
}

.istanbul{
    background-image:url("/images/06.jpg");
    background-size:cover;
}

.marrakech{
    background-image:url("/images/08.jpg");
    background-size:cover;
    color:white;
}
/************* FOOTER ************/
footer{
    background-image:url("/images/pp.jpg");
    background-size:cover;
    padding : 1em;
}

