:root{
    --fondEntete:url("images/fonds/partitionfond.jpg");
    --fondBody:black;
    --TailleTitreEntete:3em;
    --FondAside:whitesmoke;
    --FondContainer:url("images/fonds/fond_jaune.png");
    --FondPage:whitesmoke;
}