:root{
    --fondEntete:url("images/fonds/partitionfond.jpg");
    --fondBody:black;
    --TailleTitreEntete:3em;
    --FondAside:whitesmoke;
    --FondContainer1:url("images/photos/spectacle1.jpg");
    --FondContainer2:url("images/photos/spectacle1.jpg");
    --FondPage:whitesmoke;
}