/******* GLOBAL *******/
html,body{
    margin:0;
    padding:0;
}
header, footer,
div,article,body{
    display:flex;
    flex:1;
    /*border:1px dashed black;*/
}

.colonne{
    flex-direction:column;
}

.container{
    background-color:var(--FondContainer);
    justify-content:center;
}
.page{
    flex:none;
    width:80%;
    background-color:var(--FondPage);
}

img,video{
    width:100%;
}

/******* HEADER *******/
header,footer{
    background-image:var(--fondEntete);
    background-position: bottom;
    background-size:cover;
}

.titre{
    flex:8;
    justify-content:center;
    align-items:center;
}

.entete{
    font-size:var(--TailleTitreEntete);
}

.logo{
    padding:1.5em;
}
/******** PAGE *********/
.agenda{
   flex:2;
   padding:2em;
}   
.listeAgenda{
    border:black 1px solid;
   border-radius:0.6em;
}

.
/******* FOOTER ********/