/******* GLOBAL *******/
html,body{
    margin:0;
    padding:0;
}
header, footer,
div,article,body{
    display:flex;
    flex:1;
    /*border:1px dashed black;*/
}

.colonne{
    flex-direction:column;
}

.container{
    /*background-color:var(--FondContainer);*/
    background-image:var(--FondContainer);
    
    background-size:cover;
    background-repeat: no-repeat;
    justify-content:center;
   
}
.page{
    flex:none;
    width:80%;
    /*background-color:var(--FondPage);*/
    background-color: rgba(23, 23, 27, 0.6) ;
}

img,video{
    width:100%;
}

.demi{
    flex:0.5;
}

.espacehor{
    flex:none;
    height:5vh;
}

.espacedemihor{
    flex:none;
    height:2.5vh;
}

.centre{
    justify-content:center;
}

/******* HEADER *******/
header,footer{
    background-image:var(--fondEntete);
    background-color: ;
    background-position: bottom;
    background-size:cover;
}

.titre{
    flex:8;
    justify-content:center;
    align-items:center;
}

.entete{
    font-size:var(--TailleTitreEntete);
}

.logo{
    padding:1.5em;
}

/******** Menu *********/
nav{
    display:flex;
    background-color:lightgrey;
    padding:1em;
    position:sticky;
    top:0;
}

nav a{
    text-decoration:none;
    color:black;
}

.sousmenu{
    display:none;
    position:absolute;
    flex-flow:column wrap;
    background-color:lightgrey;
}

.avecenfant{
    position:relative;
}

.avecenfant:hover .sousmenu{
    display:flex;
    margin-top:1.2em;
}
/******** PAGE *********/
.agenda{
   flex:2;
   padding:2em;
}   

.agenda h3{
    margin-bottom:0;
}
.listeAgenda{
   border:black 1px solid;
   border-radius:0.6em;
   padding:0.5em;
   background-color:var(--FondAside);
}

.photo{
    padding:1em;
}

.aside{
    align-items:center;
    text-align:justify;
    border:1px solid black;
    border-radius:0.6em;
    padding:0.3em;
    background-color:var(--FondAside);
}
/******* FOOTER ********/