@media screen and (max-width:800px)
{
    
    div,footer{
        flex-direction:column;
    }

    .menu{
        display:none;
    }

    .menumobile{
        display:flex;
        flex-direction:row;
    }

    .finpage,.lien{
        flex-direction:row;
    }
    .photo{
        height:100%;
    }

    .treslarge{
        flex:1;
    }
    .ecran{
        display:none;
    }
    .phone{
        display:flex;
    }
    .vignette{
        width:50%;
        align-self:center;
    }
    #cont{
        order:1;
    }
    #vig1{
        order:2;
    }
    #vig2{
        order:3;
    }

    footer{
        align-items:center;
    }
}