/*-----------------------------------GLOBAL-----------------------------------------*/
body {
	background-color: black;
}

img {
	width: 100%;
}

#page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*background-color: wheat;*/
	background-color:lightgray;
}
.colonne{
	flex-direction:column;
}
#contenu {
	display: flex;
	flex-direction: column;
	width: 80%;
	background-color:lightgray;
	justify-content: center;
}
.ligne{
	display: flex;
	justify-content: space-between;
	padding : 1em;
	border:white 0.1em solid;
}

.espaceHorizon {
	height: 1vw;
}
.espaceVertical {
	flex: 0.5;
}
#entete {
	/*background-color: lightskyblue;*/
	background-image: url("../Images/vlille.jpg");
	background-size:cover;
	display: flex;
	width: 100%;
	flex-direction: column;
}

#titre {
	display: flex;
	justify-content: space-between;
	flex: 1.5;
}

#logo {
	flex: 1;
	padding:1em;
}

#titre_page {
	display: flex;
	flex: 5;
	justify-content: center;
	align-items: center;
	color:white;
	font-size:2em;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#titre_page h1{
	background-color:red;
	border-radius:0.2em;
	padding:0.3em;
}
#nav{
	width:100%;
	color:white;
	background-color:black;
	justify-content:center;
}
#divSousTitre{
	justify-content: flex-end;
	padding:2em;
}
.ville , .libelle ,.etat  {
	flex: 1;
}
.dispo, .adresse, .nbMax{
	flex: 1;
	padding-left: 2vw;
}
.titreLigne{
	font-weight: bold;
}
.detail{
	display: flex;
	justify-content: space-between;
	background-color: darkgrey;
	border:1px solid black;
	padding:0.5em;
	margin-bottom:1em;
}

div{
	display:flex;
	flex:1;
	border: 1px dotted black;
}

nav{
	background-color:black;
}
.check
{
	flex:0.05;
}
.ville,.libelle,.center,
.vdispo,.pdispo{
	justify-content:center;
}
.rouge{
	background-color:red;
}
.vert{
	background-color:green;
}
.zero{
	color:red;
}